ENVIRONMENT=development
DATABASE_URL=postgresql://postgres:password@db:5432/stock_market_db
REDIS_URL=redis://redis:6379
SECRET_KEY=development_secret_key
KAFKA_BROKER=kafka:9092
SPARK_MASTER=spark://spark-master:7077
